
<div class="container text-center">

  <h1 class="p-3"> Stupid Coach </h1>
  <div class="box row bg-white card p-2 mt-2 shadow border-start border-5" >
    <h3> <%= @question %> </h3>
    <p> - You </p>
  </div>

  <div class="box row bg-warning-subtle card p-2 mt-3 shadow border-start bg-warning-subtle">
    <h3> <%= @result %> </h3>
    <p> - Your Coach </p>
  </div>

  <div class="m-3">
  <%= link_to 'Ask another question', ask_path %>
  </div>
</div>
